.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--bg-body);
}

.pageContent {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
}
